.container{
    width: 500px;
    margin: 0 auto;
}
.title{
    font-size: 30px;
    color: #BB6688;
    text-align: center;
}
.thingInput{
    width: 400px;
    margin: 0 auto;
}
.thingInput input{
    height: 30px;
    width: 340px;
}
.thingInput button{
    width: 50px;
    height: 36px;
    background-color: white;
    border-color:  #FEFEFE;
    /*border: 1px solid;*/
}
.thingsList{
    width: 500px;
    margin-top: 25px;
}
.thing{
    width: 400px;
    margin: 0 auto;
    margin-top: 10px;
}
.thing input{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.thing span{
    width: 100px;
    margin-left: 10px;
    font-size: 22px;
    vertical-align: middle;
}